<strong>Olá, {{ organizer.name }}</strong>
<p>Você acabou de receber uma nova inscrição do participante: <strong>{{ user.name }}</strong></p>
<p>No evento: <strong>{{ meetup.title }}, {{ meetup.date }}</strong></p>
